# histograms suck

what is an accessible histogram made out of a table? in this form AT have access to each entry and tactile navigation.

i use synthetic data which kinda makes a crumby demo, but the idea could be sound independent of data.

In [1]:
    %%capture
    import pandas, random, midgy, string
    import importnb
    with __import__("importnb").Notebook(): from __multi__aria import get_table

synthetic data that creates a histogram like looking dataframe

In [2]:
    data = pandas.RangeIndex(100).to_series().apply(lambda x: random.random()*10).astype(int).value_counts()
    hist = data.to_frame().reindex(pandas.RangeIndex(min(data.index), max(data.index)))
    hist = hist.set_index(hist.index.map(string.ascii_uppercase.__getitem__))
    hist = hist.rename_axis("category", axis=0)
    hist.T.pipe(get_table)

<table aria-colcount="11" aria-rowcount="2"><caption><dl role="presentation"><dt>rows</dt><dd>1</dd><dt>columns</dt><dd>9</dd><dt>indexes:</dt><dd><dl role="presentation"><dt>rows</dt><dd>1</dd><dt>columns</dt><dd>1</dd></dl></dd></dl></caption><tr aria-rowindex="1"><th aria-colindex="2" scope="row">category</th><th aria-colindex="2" scope="col">A</th><th aria-colindex="3" scope="col">B</th><th aria-colindex="4" scope="col">C</th><th aria-colindex="5" scope="col">D</th><th aria-colindex="6" scope="col">E</th><th aria-colindex="7" scope="col">F</th><th aria-colindex="8" scope="col">G</th><th aria-colindex="9" scope="col">H</th><th aria-colindex="10" scope="col">I</th></tr><tr aria-rowindex="2"><th aria-colindex="1" scope="row">count</th><td aria-colindex="2">9</td><td aria-colindex="3">11</td><td aria-colindex="4">12</td><td aria-colindex="5">7</td><td aria-colindex="6">5</td><td aria-colindex="7">9</td><td aria-colindex="8">10</td><td aria-colindex="9">17</td><td aria-colindex="10">6</td></tr></table>

customize the style with pandas styler. do some weird shit so we have access to a string and numerical version of the value. `content` can't show a string and we can't math on a string so we need both. this is redundant, but lets stick to css.

In [3]:
hist.T.map(
    lambda x: F"""<data style="--val: {x}">{x}</data>"""
).style.set_table_attributes("""class="hist v" """).set_caption("a vertical histogram of sythetic data to demostrate the technique.")

now some css to make it visually appear like histogram

In [4]:
%%
    display\
```html
<style>
table.hist {
    table-layout: fixed;
    &, td, th {border: none !important;}
    th, td {
        position: relative;
        data {
            position: relative;
            display: inline-block;
            background-color: darkslategray;
            color: white;
        }
    }
}
table.hist {
    &.v {
        width: 100%;
    
    }
    &.v :is(th,td) {
        top: 0;
        vertical-align: bottom;   
        text-align: center !important;

    }
    &.v data {
        vertical-align: bottom;
        text-align: center;
        width: 100%;
        height: calc(var(--val)*1rem);
    }
    &.h data {
        float: left;

        
        
        vertical-align: bottom;
        text-align: left;
        left: 0;
        width: calc(var(--val)*1rem);

    }
}
</style>
```

    display\
```html
<style>
table.hist {
    table-layout: fixed;
    &, td, th {border: none !important;}
    th, td {
        position: relative;
        data {
            position: relative;
            display: inline-block;
            background-color: darkslategray;
            color: white;
        }
    }
}
table.hist {
    &.v {
        width: 100%;

    }
    &.v :is(th,td) {
        top: 0;
        vertical-align: bottom;
        text-align: center !important;

    }
    &.v data {
        vertical-align: bottom;
        text-align: center;
        width: 100%;
        height: calc(var(--val)*1rem);
    }
    &.h data {
        float: left;



        vertical-align: bottom;
        text-align: left;
        left: 0;
        width: calc(var(--val)*1rem);

    }
}
</style>
```

In [5]:
hist.map(
    lambda x: F"""<data style="--val: {x}">{x}</data>"""
).style.set_table_attributes("""class="hist h" """).set_caption("a horizontal histogram of sythetic data to demostrate the technique.")

In [6]:
hist.map(
    lambda x: F"""<data style="--val: {x}">{x}</data>"""
).style.set_table_attributes("""class="hist h" """).set_caption("a histogram of sythetic data to demostrate the technique.")

In [7]:
hist.sort_values(by="count", ascending=False).map(
    lambda x: F"""<data style="--val: {x}">{x}</data>"""
).style.set_table_attributes("""class="hist h" """).set_caption("a sorted vertical histogram of sythetic data to demostrate the technique.")

In [8]:
hist.sort_values(by="count", ascending=False).T.map(
    lambda x: F"""<data style="--val: {x}">{x}</data>"""
).style.set_table_attributes("""class="hist v" """).set_caption("a sorted vertical histogram of sythetic data to demostrate the technique.")